<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css')}}">
    <title>登陆页</title>
</head>
<body>
    <div style="width: 100%;">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div style="float:left;width: 99%;border: #00ff7f solid 1px;">
                文件上传：
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                文件：
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                <input type="file" name="file" />
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                提交
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                <input type="submit">
            </div>
        </form>
        <form action="/download" method="post">
            <div style="float:left;width: 99%;border: #00ff7f solid 1px;">
                文件下载：
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                文件名称：
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                <input type="text" name="filename" />
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                提交
            </div>
            <div style="float:left;width: 49%;border: #00ff7f solid 1px;">
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>